<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="myfiles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="myfiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="myfiles/css/util.css">
    <link rel="stylesheet" type="text/css" href="myfiles/css/main.css">
    <!--===============================================================================================-->
    <style>
        /* .wrap-login100>div {
            flex: 1;
        }
        */
        .wrap-login100 {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        #showData .form-row {
            margin: 2%;
            justify-content: flex-start;
        }

        #_id,
        #updateData {
            display: none;
        }
    </style>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div id="updateData" class="wrap-login100">
                <form class="login100-form validate-form" method="POST" action="update">
                    <input type="text" id="_id" name='_id' value="<%= data._id%>" />
                    <div class="form-row">
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter First Name">
                            <input class="input100 has-val" type="text" value='<%=data.name.firstname%>'
                                name="firstname" />
                            <span class="focus-input100" data-placeholder="First Name"></span>
                        </div>
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter Last Name">
                            <input class="input100 has-val" type="text" value='<%=data.name.lastname%>'
                                name="lastname" />
                            <span class="focus-input100" data-placeholder="Last Name"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="wrap-input100 form-half validate-input" data-validate="Valid email is: a@b.c">
                            <input class="input100 has-val" type="text" value='<%=data.email%>' name="email" disabled/>
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter Phone Number">
                            <input class="input100 has-val" type="text" value='<%=data.phone%>' name="phone" />
                            <span class="focus-input100" data-placeholder="Phone Number"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter Password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" id='pass1' name="password" />
                            <span class="focus-input100" data-placeholder="Enter Password"></span>
                        </div>
                        <div class="wrap-input100 form-half" id="pass2validate" data-validate="Password Mis-Match">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" disabled type="password" id='pass2' name="password2" />
                            <span class="focus-input100" data-placeholder="*Enter Password First"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter Valid Username">
                            <input class="input100 has-val" type="text" value='<%=data.username%>' name="username" />
                            <span class="focus-input100" data-placeholder="Username"></span>
                        </div>
                        <div class="wrap-input100 form-half validate-input" data-validate="Enter Password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" id='pass3' name="password3" />
                            <span class="focus-input100" data-placeholder="Enter Old Password"></span>
                        </div>
                    </div>
                    <div class="form-row" style="justify-content: space-between;">
                        <div class="form-half ">
                            <!--  -->
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn">
                                        Update Profile
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-half ">
                            <!--  -->
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" onclick="updateData('update')">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="showData" class="wrap-login100">
                <div class="form-row">
                    Welcome
                    &nbsp;<span><%= data.name.firstname %></span>
                    &nbsp;<span><%= data.name.lastname %></span>
                </div>
                <div class="form-row">
                    Your Username is &nbsp;<span><%= data.username %></span>
                </div>
                <div class="form-row">
                    Your Email Id is &nbsp;<span><%= data.email %></span>
                </div>
                <div class="form-row">
                    Your Phone Number is &nbsp;<span><%= data.phone %></span>
                </div>

                <div class="form-row" style="justify-content: space-between;">
                    <div class="form-half ">
                        <!--  -->
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" onclick="location.href='/signout'">
                                    Sign Out
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-half ">
                        <!--  -->
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" onclick="updateData()">
                                    Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="myfiles/jquery/jquery-3.2.1.min.js"></script>
    <script src="myfiles/js/main.js"></script>
    <script>
        function updateData(c) {
            if (c) {


                document.getElementById('updateData').style.display = 'none';
                document.getElementById('showData').style.display = 'block';
            } else {
                document.getElementById('updateData').style.display = 'block';
                document.getElementById('showData').style.display = 'none';
            }

        }</script>
</body>

</html>