<html>
<style>
    ul li {
        display: flex;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        /* outline: 1px solid black; */
    }

    .mno {
        display: none;
        color: red;
    }
</style>

<body>
    <ol>
        <input type="password" placeholder="Enter password" onkeyup="abc(this);" />
        <% for(let y in data ){ 
            let temp = data[y];
            %>
        <li>
            <ul>
                <li>Name:<%=temp.name.firstname +"  "+temp.name.lastname%></li>
                <li>Username:<%=temp.username%></li>
                <li>Email:<%=temp.email%></li>
                <li>Phone:<%=temp.phone%></li>
                <li>Photo:<%=temp.photo%></li>
                <li class='mno'>Password:<%=temp.password%></li>
            </ul>
        </li>
        <%}%>
    </ol>
    </div>
</body>
<script>
    function abc(c) {
        let dataa;
        if (c.value == 'l') {
            dataa = 'block';
        } else {
            dataa = 'none';

        }
        let myElements = document.querySelectorAll(".mno");

        for (let i = 0; i < myElements.length; i++) {
            myElements[i].style.display = dataa;
        }
    }</script>
</html>