<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="myfiles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="myfiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="myfiles/css/util.css">
    <link rel="stylesheet" type="text/css" href="myfiles/css/main.css">
    <!--===============================================================================================-->
    <style>
        .extralinks>div {
            min-width: 100px;
        }

        .extralinks {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 10%;
        }
    </style>
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST" action="login">
                    <div class="wrap-input100 validate-input" data-validate="Enter Value">
                        <input class="input100" type="text" name="name" autofocus />
                        <span class="focus-input100" data-placeholder="Username or Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="password" />
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115 extralinks">
                        <div><a href='/auth/google'>Login With Google</a></div>
                        <!-- <div>Login Alt</div>
                        <div>Login Alt</div>
                        <div>Login Alt</div> -->

                    </div>
                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a class="txt2" href="signup">
                            Sign Up
                        </a>
                        <div id='templete'><a href='/'>Created and Maintained by Sanskar Dahiya</a href='login'></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="myfiles/jquery/jquery-3.2.1.min.js"></script>
    <script src="myfiles/js/main.js"></script>
</body>

</html>