* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
}

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    background-color: grey;
    outline: 0;
    border: 0;
    color: white;
    transition: 0.3s;
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }
    50% {
        background-position: 100% 0
    }
    100% {
        background-position: 0 0
    }
}

#mainbody {
    width: auto;
    height: auto;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 100%;
}

#mainbody {
    width: auto;
    height: auto;
    min-width: 600px;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainbody>div {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#midline {
    min-width: 100% !important;
    min-height: 0px !important;
    border: 1px solid black;
}

#signin,
#signup {
    width: 100;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#signin:hover,
#signup:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

form {
    width: 100%;
}

.w3-row-padding {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.w3-half {
    padding: 0% 5%;
    width: 50%;
}